h1 {
    color: #2b2b2b;
    font-family: Arial, sans-serif;
    margin: auto;
}

#header {
    display: flex;
    justify-items: center;
    margin: 50px;
}

#buttons {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#grid-container {
    display: grid;
    justify-content: center;
    border: 2px solid #2b2b2b;
    margin: auto;
}

.tile {
    background-color: #f1eee3;
    cursor: crosshair;
}

button {
    height: 50px;
    width: 120px;
    background-color: #2b2b2b;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white;
    cursor: pointer;
}